.dropdown-list {
    background-color: $white;
    z-index: 1000;

    &__item {
        height:30px;
        padding-left: 10px;

        a {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &:hover {
            color: $blue;
            cursor: pointer;
            text-decoration: underline;
        }
    }

}