.search {
    border: 2px solid $blue ;
    display: flex;
    align-items: center;
    height: 40px;

    &__category {
        position: relative;
        width: 140px;
        height: 100%;
        font-size: 0.75rem;
        border-right: 1px solid $gray;

        &--current {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            
            &-text {
                margin-left: 10px;
                display: flex;
                align-items: center;
            }

            &-btn {
                width: 30px;
                height: 30px;
                background: url($iconURL) $closedIconPos no-repeat;    
    
                &--opend {
                    background: url($iconURL) $opendIconPos no-repeat;
                }
            }
        }

        &--options {
            display: none;
        }
    }

    &__main {
        position: relative;
    }

    &__input{
        display: flex;
        align-items: center;

        &-textbox {
            width: 300px;
            border: none;
            padding-left: 10px;
        }

        &-voice-btn {
            background: url($micIconURL) no-repeat;
            background-size: 20px 50px;
            width: 20px;
            height: 25px;
        }
    
        &-send-btn {
            background: url($iconURL) $glassIconPos no-repeat;
            width: 35px;
            height: 35px;
            margin-right: 15px;
        }
    }

    &__recent-keyword {
        position: absolute;
        top:40px;
        width: 100%;
        height: 200px;
        background-color: $white;
        z-index: 1000;
        box-shadow: -4px 4px 4px $blackShadow;
    }
}