.category {
    margin-right: 30px;
    position: relative;

    &__btn {
        background: url($iconURL) no-repeat;
        width: 110px;
        height: 115px;
        position: relative;
    }

    &__text {
        color: $white;
        position: absolute;
        top: 75px;
        width: 100%;
        text-align: center;
    }

    ul {
        border-top: 1px solid $gray;
        padding: 10px 0px;
    }

    &__layer {
        display: flex;
        position: absolute;
        top: 100%;
        z-index: 1000;
        background-color: $white;

        li:hover {
            color: $blue;
            text-decoration: underline;
            cursor: pointer;
        }

        &-main {
            width: 170px;
            font-size: 0.875rem;
            border-right: 1px solid $gray;
            border-left: 1px solid $gray;
            border-bottom: 1px solid $gray;
    
            li {
                @include verticalCenter;
                height: 30px;
                width: 100%;
                position: relative;
            }

            .selected {
                color: $blue;
                font-weight: 800;

                .icon {
                    content: url("https://static-page.kakao.com/static/common/ic-more-gray.svg?639494b81c8127013d0e627243aee94e");
                    color: $blue;
                    margin-right: 10px;
                    position: absolute;
                    right: 3px;
                }
            }

            .menu-icon {
                width: 20px;
                height: 20px;
                margin: 0px 10px;
            }
        }

        &-extended {
            border-right: 1px solid $gray;
            border-bottom: 1px solid $gray;
            width: 600px;
            position: relative;

            li {
                @include verticalCenter;
                font-size: 0.875rem;
                height: 30px;
                width: 170px;
                padding-left: 10px;
            }
            
            .menu-banner {
                position: absolute;
                bottom: 0px;
                right:0px;
                // width: 500px;
                // height: 413px;
            }
        }
    }
}