header {
    margin: 0 auto;
    align-items: flex-end; 
}

.util-bar {
    background-color: $lightGray;
    width: 100%;
}

.util-container {
    justify-content: space-between;
    ul {
        display: flex;
    }
    li {
        font-size: 0.75rem;
        margin: 10px 5px;
    }
}

.header-main {
    display: flex;
    align-items: flex-end;
    
    .category {
        margin-right: 30px;
    
        &__btn {
            background: url($iconURL) no-repeat;
            width: 110px;
            height: 115px;
            position: relative;
        }
    
        &__text {
            color: $white;
            position: absolute;
            top: 75px;
            width: 100%;
            text-align: center;
        }
    }

    .banner {
        &__main {
            display: flex;
    
            .logo img {
                width: 180px;
                height: 40px;
                margin-right: 30px;
            }

            .icon-menu {
                display: flex;
                position: relative;

                li {
                    width: 50px;
                    margin-left: 30px;
                    font-size: 0.75rem;
                }

                .my-coupang__icon {
                    background: url($iconURL) $personIconPos no-repeat;
                    margin: 0 auto 5px auto;
                    width: 30px;
                    height: 30px;
                }

                .cart {
                    position: absolute;
                    left: 70px;
                    top: -10px;

                    &__icon {
                        background: url($iconURL) $cartIconPos no-repeat;
                        margin: 0 auto 5px auto;
                        width: 40px;
                        height: 40px;
                    }

                    &__count {
                        color: $white;
                        font-weight: $bold;
                        position: absolute;
                        right: 14px;
                        top: 3px;
                    }
                }
            }

        }

        &__gnb-items {
            display: flex;
            margin-top: 10px;
            font-size: 0.75rem;
        }

        &__gnb-item {
            @include verticalCenter;
            margin: 0px 10px 10px 10px;
        }

        .front-icon {
            width: 20px;
            height: 20px;
            margin-right: 2px;
        }

        .blue-rocket-icon {
            background: url($blueRocketIconURL);
            background-size: 20px;
        }

        .green-rocket-icon {
            background: url($greenRocketIconURL);
        }

        .biz-icon {
            background: url($bizIconURL) no-repeat;
        }

        .purple-rocket-icon {
            background: url($purpleRocketIconURL);
        }

        .new-icon {
            background: url($newIconURL) no-repeat;
            background-size: 12px;
            width: 12px;
            height: 12px;
        }
    }
}

