.search {
    border: 2px solid $blue ;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.75rem;

    &__category {
        position: relative;
        width: 140px;
        height: 100%;
        border-right: 1px solid $gray;

        &-list {
            position: absolute;
            top: 100%;
            width: 100%;
            max-height: 0px;
            overflow: auto;
            transition: 0.2s ease-in;

            &--opened {
                max-height: 520px;
                border: 1px solid $gray;
            }
        }

        &--current {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &-text {
                margin-left: 10px;
                height: 100%;
                display: flex;
                align-items: center;
            }

            &-btn {
                width: 30px;
                height: 30px;
                background: url($iconURL) $closedIconPos no-repeat;    
    
                &--opend {
                    background: url($iconURL) $opendIconPos no-repeat;
                }
            }
        }
    }

    &__main {
        position: relative;
        height: 100%;
    }

    &__input{
        display: flex;
        height: 100%;
        align-items: center;

        &-textbox {
            width: 300px;
            border: none;
            padding-left: 10px;
        }

        &-voice-btn {
            background: url($micIconURL) no-repeat;
            background-size: 20px 50px;
            width: 20px;
            height: 25px;
        }
    
        &-send-btn {
            background: url($iconURL) $glassIconPos no-repeat;
            width: 35px;
            height: 35px;
            margin-right: 15px;
        }
    }

    &__recent{
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        background-color: $white;
        z-index: 1000;

        &--opened {
            max-height: 400px;
            border: 1px solid $gray;
        } 
        
        &-title {
            padding: 12px 0px;
            margin: 0px 10px;
            display: flex;
            align-items: center;
            font-weight: 600;
            border-bottom: 1px solid $gray;
        }
        
        &-list {
            height: 300px;
            overflow: auto;
            margin-top: 5px;
        }

        &-util {
            display: flex;
            padding: 7px 10px;
            justify-content: space-between;
            background-color: $backgroundGray;
            border-top: 1px solid $gray;
        
            button {
                color: $darkGray;
                margin-right: 10px;
            }
        }
    }

    &__auto-complete {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 0px;
        overflow: hidden;
        background-color: $white;
        z-index: 1000;

        &--opened {
            height: 300px;
            border: 1px solid $gray;
        }
    }
}