.search {
    @include verticalCenter;
    border: 2px solid $blue ;
    height: 40px;
    font-size: 0.75rem;

    &__category {
        position: relative;
        width: 140px;
        height: 100%;
        border-right: 1px solid $gray;

        &-list {
            @include underAddedBox;
            @include folded(auto);
            transition: 0.2s ease-in;

            &--opened {
                max-height: 520px;
                border: 1px solid $gray;
            }
        }

        &--current {
            @include fitMax;
            @include verticalCenter;
            justify-content: space-between;
            
            &-text {
                @include verticalCenter;
                margin-left: 10px;
                height: 100%;
            }

            &-btn {
                width: 30px;
                height: 30px;
                background: url($iconURL) $closedIconPos no-repeat;    
    
                &--opend {
                    background: url($iconURL) $opendIconPos no-repeat;
                }
            }
        }
    }

    &__main {
        position: relative;
        height: 100%;
    }

    &__input{
        @include verticalCenter;
        height: 100%;

        &-textbox {
            width: 300px;
            border: none;
            padding-left: 10px;
        }

        &-voice-btn {
            background: url($micIconURL) no-repeat;
            background-size: 20px 50px;
            width: 20px;
            height: 25px;
        }
    
        &-send-btn {
            background: url($iconURL) $glassIconPos no-repeat;
            width: 35px;
            height: 35px;
            margin-right: 15px;
        }
    }

    &__recent{
        @include underAddedBox;
        @include folded(hidden);
        background-color: $white;
        z-index: 1000;

        &--opened {
            max-height: 400px;
            border: 1px solid $gray;
        } 
        
        &-title {
            @include verticalCenter;
            padding: 12px 0px;
            margin: 0px 10px;
            font-weight: 600;
            border-bottom: 1px solid $gray;
        }
        
        &-list {
            height: 300px;
            overflow: auto;
            margin-top: 5px;
        }

        &-util {
            display: flex;
            padding: 7px 10px;
            justify-content: space-between;
            background-color: $backgroundGray;
            border-top: 1px solid $gray;
        
            button {
                color: $darkGray;
                margin-right: 10px;
            }
        }
    }

    &__auto-complete {
        @include underAddedBox;
        @include folded(hidden);
        background-color: $white;
        z-index: 1000;

        &--opened {
            max-height: 300px;
            border: 1px solid $gray;
        }
    }
}